{% extends "base.html" %}

{% block title %}Science Policy Form FAQ{% endblock %}

{% block content %}
<div class="container">
	<h4 class="center">Frequently Asked Questions</h4>
	<div class="row">
		<p class="strong">When is it more effective to call/email/mail and why?</p>
		<p>We recommend that you show up to town halls or call if the matter in hand is urgent or if your message is short. For a more 
		detailed message, we recommend sending emails or mails. While the Congress staffers may send you generic letters in response to your
		email or mail, they have to interact with you directly if you call or show up at a town hall. Thus to spur a more rapid change, phone call or town hall attendance are helpful.</p>
	</div>
	<div class="row">
		<p class="strong">Why do we insist on personalized letter?</p>
		<p>Generic letters tend to generate generic responses. If you take your time to produce a personalized letter with facts and figures, Congress staffers are more likely to consider your letter seriously and send you a personalized response.</p>
	</div>
	<div class="row">
		<p class="strong">How does the language generation work?</p>
		<p>Answer</p>
	</div>
	<div class="row">
		<p class="strong">Why is it more effective to send an email from the representative’s site, rather than from an aggregator or an organization?</p>
		<p>Answer</p>
	</div>
	<div class="row">
		<p class="strong">Why is it important to ask for a specific response from your representative? </p>
		<p>If you do not ask for specific responses, the office of the representative may send you a generic response. When you ask for 
		specific responses, the office will have to send you a personalized response and you will know more about whether your representative supports your cause or is against it.</p>
	</div>
	<div class="row">
		<p class="strong">Which members of Congress should you contact for which issues and why?</p>
 		<p>Answer</p>
	</div>
	<div class="row">
		<p class="strong">Why should you focus on contacting your own representatives?</p>
 		<p>Because your vote directly influences the status of your representative, it is more likely that your congressional 
		representative will take your letter more seriously than a letter from someone whom he or she does not represent. Thus we 
		strongly recommend that you include your address or use a phone number with your home address area code to have more impact.</p>
	</div>
	<div class="row">
		<p class="strong">When is it effective to contact members of specific committees?</p>
 		<p>It is best to contact members when laws are being drafted or are being debated in the Congress.</p>
	</div>
</div>

<div class="container">
<footer> <p>&#169 2016</p> </footer>
</div>

{% endblock %}