<html>
<head>
<title>Science Policy Form</title>
<script>

</script>

<link href='/css/policy.css' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>Science Policy Form</h1>
<a href="/faq">Frequently Asked Questions</a>
<br><br>
    <form action="/" method="POST">
    <table>
        <tr><td width="100">Name:</td><td><input class="basic" type="text" name="username" value="Brett Morris"></td></tr>
        <tr><td>Affiliation:</td><td><input class="basic" type="text" name="aff" value="University of Washington"></td></tr>
        <tr><td>Address:</td><td><input class="basic" type="text" name="street" value="60 Garden St, Cambridge, MA 02138"></td></tr>
        <tr><td>Stance:</td><td><input class="basic" type="text" name="stance" value="support"></td></tr>
        <tr><td>Subject:</td><td><input class="basic" type="text" name="subject" value="House Bill 1234"></td></tr>
      	<tr><td>Body:</td><td>
        <textarea class="basic" rows="10" cols="50" name="body">Here are my great thoughts...</textarea></td></tr>
        </table>
        <br><br>
        <input class="submit" type="submit" name="my-form" value="Submit">
    </form>
</body>
</html>